/*  Global Styling */

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu-Regular';
}

:root {
    --font-color-brown: #957554;
    --fonto-color-white: #FFF;
    --font-color-black: rgba(0, 0, 0, 0.50);
    --background-color-button: #DFAA5B;
    --font-size-h1: 5rem;
    --font-size-h2: 2.8rem;
    --font-size-h3: 2.5rem;
    --font-size-p-a-button: 1.5rem;
    --font-size-header-forms: 1.875rem;
    --font-weight-500: 500;
    --font-weight-400: 400;
}

/* Global Styling of fonts */

h1 {
    font-size: var(--font-size-h1);
    font-weight:var(--font-weight-400);
    color: var(--fonto-color-white);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight:var(--font-weight-500);
    color: var(--fonto-color-brown);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight:var(--font-weight-500);
    color: var(--fonto-color-white);
}

nav li a {
    color: var(--font-color-brown);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-p-a-button);
}

.pSec1 {
    font-size: var(--font-size-p-a-button);
    font-weight: var(--font-weight-500);
    color: var(--fonto-color-white);
}


/* Global Styling of all Buttons */

.button{
    font-size: var(--font-size-p-a-button);
    color: var(--fonto-color-white);
    background-color: var(--background-color-button);
    font-weight: var(--font-weight-500);
    border: none;
    padding: 1rem 3rem;
    border-radius: 5px;
    cursor: pointer;
}

/* !Header Styling with flex */

.logo {
    width: 9.5rem;
    height: max-content;
}

header {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    padding: 2rem 0 4rem 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

/* !Main Styling */

/* Styling of section 1 with display flex */

.section1 {
    height: 100vh;
    background-image: url('../img/hero_image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 5rem;
}

.padding {
    padding: 1rem 6rem; 
}

/* Styling of section 2 with display grid */

